<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<table class="table table-borderless" id="comm-main-list">
		<tr class="comm-main-row-list" th:each="comm : ${commList}">
			<td>
				<div class="comm-member">
					<span class="comm-member-id-text" th:text="${comm.mb_id}"></span>
					<span th:class="'member-sticker type-sticker'+${comm.mb_level}" th:text="${comm.lv_txt}"></span>
					<span class="grey-text" th:text="'· ' + ${#dates.format(comm.wr_datetime, 'MM월 dd일')}"></span>
				</div>
				<div class="comm-row-content" th:text="${comm.wr_content}"></div>
			</td>
		</tr>
	</table>
</html>
