<html xmlns:th="http://www.thymeleaf.org">
<nav>
	<div class="my-sidebar">
		<ul class="my-list">
			<li class="my-item">
				<a href="/myaccount/asset">
					<button class="my-btn">
						<span class="my-text">자산</span>
					</button>
				</a>
			</li>
			<li class="my-item">
				<a href="/myaccount/transactions/all">
					<button class="my-btn">
						<span class="my-text">거래 내역</span>
					</button>
				</a>
			</li>
			<li class="my-item">
				<a href="/myaccount/profit">
					<button class="my-btn">
						<span class="my-text">판매 수익</span>
					</button>
				</a>
			</li>
			<li class="my-item">
				<a href="/myaccount/point/use">
					<button class="my-btn">
						<span class="my-text">포인트 내역</span>
					</button>
				</a>
			</li>
			<li class="my-item">
				<a href="/myaccount/follow">
					<button class="my-btn">
						<span class="my-text">팔로우 목록</span>
					</button>
				</a>
			</li>
			<li class="my-item">
				<a href="/myaccount/settings">
					<button class="my-btn">
						<span class="my-text">계좌 관리</span>
					</button>
				</a>
			</li>
		</ul>
	</div>
</nav>