.btn_submit{
    border: 0;
    height: 30px;
    color: #fff;
    width: 52px;
}

.local_sch{
	margin-bottom: 10px;
}


.ins{
	margin-top: 10px;
}

.in_sch{
	height: 30px;
}


.btn_a{
    width: 56px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


.new_td{
	border: 1px solid #d6dce7
}