.form-container {
  background-color: white;
  padding: 2.5rem; /* 패딩을 조금 더 크게 설정 */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 400px; /* 너비를 조금 더 넓게 설정 */
  margin: 0 auto; /* 화면 중앙으로 정렬 */
  margin-top: 6%; /* 위쪽 여백을 설정해 상단과 거리 조정 */
}

/* 제목 스타일 */
h2 {
  color: #096c8a;
  margin-bottom: 1.2rem;
  font-size: 1.5rem; /* 제목 크기 확대 */
}

/* 설명 텍스트 */
p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* 입력 필드 스타일 */
#passwordForm input[type="email"] {
  width: 100%;
  padding: 12px; /* 패딩을 조금 더 크게 설정 */
  margin-bottom: 1.2rem;
  border: 1px solid #cbd6e2;
  border-radius: 4px;
  font-size: 0.95rem;
}

/* 라디오 버튼 스타일 */
.radio-container {
  margin-bottom: 0.6rem; /* 라디오 버튼과 다른 요소 간의 간격 */
  display: flex; /* Flexbox 사용하여 수평 정렬 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  gap: 20px; /* 라디오 버튼 간의 간격 */
}

.radio-label {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  cursor: pointer; /* 포인터 모양으로 변경 */
}

.radio-container input[type="radio"] {
  display: none; /* 기본 라디오 버튼 숨기기 */
}

.radio-indicator {
  width: 20px; /* 원형의 너비 */
  height: 20px; /* 원형의 높이 */
  border: 2px solid #096c8a; /* 테두리 색상 */
  border-radius: 50%; /* 원형으로 만들기 */
  display: inline-flex; /* 수평 정렬 */
  justify-content: center;
  align-items: center;
  margin-right: 5px; /* 텍스트와의 간격 */
  transition: background-color 0.2s; /* 배경색 변경에 부드러운 전환 효과 추가 */
}

/* 선택된 경우 배경색 */
.radio-container input[type="radio"]:checked + .radio-indicator {
  background-color: #096c8a; /* 선택된 경우 배경색 */
}

/* 버튼 스타일 */
#passwordForm input[type="submit"],
#passwordForm input[type="reset"] {
  width: 100%;
  padding: 12px; /* 버튼 패딩을 더 크게 */
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 0.7rem;
  border-radius: 20px; /* 모서리 둥글기 */
  font-size: 16px; /* 버튼 텍스트 크기 확대 */
}

#passwordForm input[type="submit"] {
  background-color: #096c8a;
}

#passwordForm input[type="reset"] {
  background-color: #9aa9bc;
}

#passwordForm input[type="submit"]:hover {
  background-color: #065c7a;
}

#passwordForm input[type="reset"]:hover {
  background-color: #7f8e9e;
}

.btn-goToLogin{
  width: 100%;
  padding: 12px; /* 버튼 패딩을 더 크게 */
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 0.2rem;
  border-radius: 20px; /* 모서리 둥글기 */
  font-size: 16px; /* 버튼 텍스트 크기 확대 */
  background-color: #17a2b8;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.fontColorRed {color: red;}
.fontColor096c8a {color: #096c8a;}
input:focus-visible{outline: #096c8a !important;outline-offset: 0 0 5px rgba(9, 108, 138, 0.5) !important;}
.error-border {border-color: red !important;box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);}
.success-border { border-color: #3cb371 !important; box-shadow: 0 0 10px rgba(60, 179, 113, 0.7);}
