/* Container */
.my-container {
    display: grid;
    grid-template-columns: 184px minmax(10px, 1fr);
    grid-column-gap: 40px;
    column-gap: 40px;
    padding: 0 40px 40px 24px;
    min-width: 940px;
    max-width: 1280px;
    margin: 0 auto;
}

/* Sidebar */
.my-sidebar {
    position: sticky;
    top: 60px;
    padding-top: 30px;
    border-radius: 50px;
    background-color: #fff;
}

.my-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-list li {
    margin-bottom: 10px;
}

.my-item {
	list-style: none;
}

.my-btn {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.2s;
    width: 100%;
}
     
/* li 태그에 호버 효과 추가 */
.my-list li:hover {
	border-radius: 20px;
	background-color: #f9fafb;
}
.my-text {
    font-size: 17px;
    color: #888;
    transition: color 0.2s; /* 글자 색상 변화에 애니메이션 추가 */
}

/* Header */
.mypage-header {
    margin-bottom: 20px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #333d4b;
}
.follow-table > table {cursor: pointer;width: 50%;}
.follow-nick{display: flex;justify-content: space-between;align-items: center;}
.page_div{margin-top: 5%;}
.fo-view-row{border-top: 1px solid #17a2b8; padding: 2%;cursor: pointer;}
.fo-view-row:hover{background-color: #ccebf0;border-radius: 15px;}
.fo-content{white-space: pre-wrap; margin-top: 1%;}
.fo-div{display: flex; align-items: center;gap: 1%;}
.fo-stock{color: #17a2b8;}
.fo-date, .fo-info{color: #888;}
.fo-nick{font-size: 20px;}
.fo-info{display: flex; align-items: center;gap: 1%;margin-bottom: 2%;}
.blur > div {filter: blur(5px);pointer-events: none;user-select: none;}
.blind-content{position: relative;top: 7px;;left: 30%;color: #c7086c;}